html *{
    font-family: Lato;
    margin: 0;
    padding: 0;
    
}
.sidebar{
    height: 81.6%;
    width: 25px;
    position: fixed;
    z-index: 1;
    top: 0;
    
    background-color: beige;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidebar i.las{
    margin-bottom: 79px;
}
.sidebar i.lab{
    margin-bottom: 79px;
}



.div1{
    display: flex;
    margin-top: 0rem;
    margin-left: 25px;
    left: 0;
    top: 0;
    background-color: #313131;
}
.div1 img{
    display: flex;
    
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 25px;
    padding: auto;
    
}
.headpara{
    
    margin-top: 0;
    margin-left: 200px;
    line-height: 5;
    font-weight: 800;
    color: white;
    
    
}
.headpara1{
    margin-top: 0px;
    margin-left: 200px;
    color: white;
}
.headpara2{
    line-height: 1;
    margin-left: 200px;
    color: white;
}

.div1 i.las{
    margin-top: 90px;
    margin-left: 200px;
    color: white;
}


.songtable{
    margin-top: 25px;
    margin-left: 30px;
    
   
}
.tablerow{
    margin-bottom: 20px;
    margin-bottom: 20px;
    
  
    
}
.tablerow1{
    margin-top: 10px;
    margin-bottom: 20px;
    
}



.box{
    border: 1px solid black;
   
    width: 100px;
    
}


.songtable tbody tr:nth-child(even)
{
    background: #e8e7e1;
    padding-top: 10px;
}

.footerclass
{
    position: relative;
    background: lightskyblue;
    margin-left: 0;
    display: flex;
    margin-top: 380px;
}

.footerpara1{
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 30px;
}
.footerpara2
{
    margin-left: 15px;
}
.footerimg{
    margin-top: 10px;
    margin-left: 35px;
    margin-bottom: 10px;
    width: 100px;
}
.footerclass i.las{
    align-self: center;
    margin-left: 300px;
}
